body{
    background-color:  #374f59;
    color:white;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    

}

.content-form{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#principal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    height: auto;
    border: 5px solid #1f714b;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    padding-left: 50px;
   
}

.question{
   padding: 20px;
    border-radius: 30px;  
    margin-right: 97px; 
    border: 5px solid  #1f714b;
    background-color:  #1f714b;
}

.content{
    /* text-align: center; */
    padding-left: 15px;
    position: relative;
    width:100%;
    /* max-width: 712px; */
    height:50px;
    border-radius: 20px;
    border: 1px solid #374f59;
    background-color:  #1f714b;
    margin-left: 70px;
    padding-top: 5px;
    display:flex;
    align-content:space-between;
    align-items: center;
    flex-direction: row;
    gap:1;
}
.content:hover{
    border:2px solid #eabd46; 
    cursor: pointer;
    transition: all;
}
.question:hover{
    border:10px;
}
.list-answers{
    position: relative;
    max-width: 715px;
    float: left;
    width: 100%;
    display: block;
    /* padding: 0; */
    /* margin: 0; */
}
.cronometro{
    height: auto;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#clock{
    margin-bottom: 78px;
    font-size:50px;
    align-content: center;
    text-align:center;
    position: relative;
    margin-top:-180px;
    display:inline;
    place-items:center;
    border:5px solid white;
    margin-right: 50px;
    padding:10px;
    align-self: center;
    width:200px;
    height:200px;
    padding:10px;
    background-clip: padding-box;
    background-color:  #1f714b;
    border-radius: 90%;
    align-items: center;
}
#torneira{

    font-size:50px;
    align-content: center;
    text-align:center;
    position: relative;
    margin-bottom:-280px;
    display:inline;
    place-items:center;
    margin-right: 50px;
    padding:10px;
    align-self: center;
    width:200px;
    height:200px;   
}


#timeer{
    margin-top: 40px;
    padding: 1px;
    width:200px;
    height: 200px;
    text-align: center;
    text-justify: center;
    font-size: 100px;
}
#timeer p{
    font-size: 90px;
    margin-top: 5px;
}